.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px 40px;
    margin: 0 auto;
}

.logo > img {
    width: 500px;
    height: auto;
}
.barre-recherche img {
    width: 50px;
    height: auto;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo h3 {
    margin-top: 3%;
    font-weight: normal;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: dashed 2px #ccc;
    border-top: dashed 2px #ccc;
    margin-top: 1%;
}

.Jinping {
    text-align: start;
    margin-top: 2%;
    max-width: 49%;
}

.Jinping img {
    width: 100%;
    height: auto;
}

.article1 {
    display: flex;
    border-bottom: dashed 2px #ccc;
}

.pereBeasley {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    max-width: 12%;
}

.Bealsey1{
    text-align: start;
    border-bottom:dashed 2px #ccc;
}

.Bealsey2 {
    border-bottom:dashed 2px #ccc;
}

h4 {
    font-weight: normal;
    font-size: 14px;
    color: gray;
}

.complotisme {
    text-align: start;
    margin-top: 2%;
    margin-left: 4%;
    max-width: 30%;
}

.complotisme img {
    width: 100%;
    height: auto;
}

.kiosque img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}
.kiosque {
    text-align: start;
    margin-top: 2%;
    max-width: 25%;
}


.extension{
    text-align: start;
    margin-top: 2%;
    max-width: 28%;
}

.extension img {
    width: 100%;
    height: auto;
}

.extension1 h3, h4{
    margin: 0;
}


.extension1{
    margin-bottom: 25px;
    border-bottom:dashed 2px #ccc;
}

.article2 {
    display: flex;
    border-bottom: dashed 2px #ccc;
}

.cuba img {
    width: 100%;
    height: auto;
}
.art2mid{
    margin-left: 2%;
}
.cuba {
    text-align: start;
    margin-top: 2%;
    margin-left: 2%;
    max-width: 25%;
    border-bottom: dashed 2px #ccc;
}

.mora {
    text-align: start;
    margin-top: 2%;
    max-width: 25%;
    margin-left: 2%;
}

.mora1 {
    border-bottom: dashed 2px #ccc;
}
.mora2 {
    border-bottom: dashed 2px #ccc;
}
